# Base dependencies
python>=3.6
numpy
opencv-python
pillow
pyproj
scipy
matplotlib
jsmin
jsonschema
netCDF4

# Optional dependencies
dask
pyfftw
cartopy>=0.18
h5py
scikit-image
pandas

# Testing
pytest

