# Additional requirements related to the documentation build only
sphinx
sphinxcontrib.bibtex
sphinx_rtd_theme
sphinx_gallery
scikit-image
pandas
git+https://github.com/pySTEPS/pysteps-nwp-importers.git@master#egg=pysteps_nwp_importers
